.row-fluid
	.span12
		.box
			- if @venue.checkins.nil? || @venue.checkins.count == 0
				%p No Checkins
			- else
				%h4.box-header.round-top 
					Venue Sessions
				.box-container-toggle
					.box-content
						%table.table.table-striped.table-bordered
							%thead
								%tr
									%th Checkin Time
									%th Avg (No Outliers)
									%th Avg (Outliers)
									%th Peak (No Outliers)
									%th Peak (Outliers)
									%th Session Length
							%tbody
								- @venue.checkins.each do |checkin|
									%tr
										%td
											= checkin.sessions.min(:timestamp).strftime("%d-%m-%y %HH:%MM")
										%td
											= checkin.average_string
										%td
											= checkin.average_string_outliers
										%td
											= checkin.peak_string
										%td
											= checkin.peak_string_outliers
										%td
											= checkin.sessions.count
								