= partial :"admin/venues/venue_basics"

= partial :"admin/venues/venue_sessions"

= partial :"admin/venues/venue_samples"

= partial :"admin/venues/venue_loudness_table"

= partial :"admin/venues/venue_peak_loudness_table"



.row-fluid
	.span6
		.pull-right
			%a.btn.btn-primary{:href => "/farmer/venues"} Back