.row-fluid
	.span12
		.box
			%h4.box-header.round-top 
				Venue Basic Info
			.box-container-toggle
				.box-content
					%table.table.table-striped.table-bordered
						%thead
							%tr
								%th{:width => "40%"} Field
								%th Value
						%tbody
							%tr
								%th Foursquare ID
								%td 
									= @venue.foursquareID
							%tr
								%th Venue Name
								%td 
									= @venue.name
							%tr
								%th Venue Lat & Lon
								%td 
									= @venue.lat_lon
							%tr
								%th Checkins
								%td 
									= @venue.checkins.count
							%tr
								%th Sessions
								%td 
									= @venue.checkins.sessions.count
							%tr
								%th Venue Average Weighting
								%td
									= @venue.volume_average
							- if @venue.checkins.sessions.count > 1
								%tr
									%th Checkins Page
									%td
										%a{:href => "/farmer/venues/#{@venue.id}/sessions"} Sessions page