.row-fluid
	.span12
		.box
			%h4.box-header.round-top 
				Venue Table
			.box-container-toggle
				.box-content
					%table.table.table-striped.table-bordered
						%thead
							%tr
								%th Venue Name
								%th FSQ ID
								%th Lat
								%th Lon
								%th Checkins
								%th Info
						%tbody
							- @venues.each do |venue|
								%tr
									%td 
										= venue.name
									%td
										= venue.foursquareID
									%td
										= venue.latitude
									%td
										= venue.longitude
									%td
										TBD
									%td
										%a.btn.btn-info{:href => "/farmer/venues/#{venue.id}"} Venue Info