.row-fluid
	.span12
		.box
			- if @venue.day_volume_values.keys.nil?
				%h1 No Volume Values
			- else
				%h4.box-header.round-top 
					Average Venue Averages
				.box-container-toggle
					.box-content
						%table.table.table-striped.table-bordered
							%thead
								%tr
									%th Day
									%th Time
									%th Value
							%tbody
								- @venue.day_volume_values.keys.each do |key|
									- @venue.day_volume_values[key].each do |timetuple|
										%tr
											%td
												= key
											%td
												= timetuple[:time]
											%td
												= timetuple[:average]
										
.row-fluid
	.span12
		.box
			- if @venue.day_avg_volume_values_no_outliers.keys.nil?
				%h1 No Volume Values
			- else
				%h4.box-header.round-top 
					Average Venue Averages Outliers Included
				.box-container-toggle
					.box-content
						%table.table.table-striped.table-bordered
							%thead
								%tr
									%th Day
									%th Time
									%th Value
							%tbody
								- @venue.day_avg_volume_values_no_outliers.keys.each do |key|
									- @venue.day_avg_volume_values_no_outliers[key].each do |timetuple|
										%tr
											%td
												= key
											%td
												= timetuple[:time]
											%td
												= timetuple[:average]
										