.row-fluid
	.span12
		.box
			%h4.box-header.round-top 
				Users Table
			.box-container-toggle
				.box-content
					%table.table.table-striped.table-bordered
						%thead
							%tr
								%th User ID
								%th Checkins
								%th Device
								%th UDID
								%th Sessions
								%th Actions
						%tbody
							- @users.each do |user|
								%tr
									%td 
										= user.id
									%td 
										= user.checkins.count
									%td
										= user.device
									%td 
										= user.deviceID
									%td 
										= user.checkins.count
									%td
										%a.btn.btn-info{:href => "/farmer/users/#{user.id}"} User Info